@page "/projects"
@inject HttpClient Http

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container-fluid content-row">
        <div class="row">
            @foreach (var proj in projects)
            {
                <div class="col-sm-6 mb-3">
                    <div class="card h-100">
                        <div class="card-header text-center font-weight-bold">
                            @proj.Name
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@proj.Technology</h5>
                            <p class= "card-text">@proj.Summary</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            @foreach (var contrib in proj.Contributions)
                            {
                                <li class="list-group-item">@contrib</li>
                            }
                        </ul>
                        <div class="card-footer text-muted text-center">
                            @proj.Date
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private Models.Project[] projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetJsonAsync<Models.Project[]>("data/projects.json");
    }
}
