@page "/projects"
@inject HttpClient Http

@if (projects == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        @foreach (var proj in projects)
        {
            <div class="card">
                <div class="card-header text-center">
                    @proj.Name
                </div>
                <div class="card-body">
                    <h5 class="card-title">@proj.Technology</h5>
                    <p class= "card-text">@proj.Summary</p>
                    <p class="card-text">
                        <ul>
                        @foreach (var contrib in proj.Contributions)
                        {
                            <li>@contrib</li>
                        }
                        </ul>
                    </p>
                </div>
                <div class="card-footer text-muted text-center">
                    @proj.Date
                </div>
            </div>
            <br>
        }
    </div>

}

@code {
    private Project[] projects;

    protected override async Task OnInitializedAsync()
    {
        projects = await Http.GetJsonAsync<Project[]>("data/projects.json");
    }
}
